--
-- PostgreSQL database dump
--

-- Dumped from database version 15.8
-- Dumped by pg_dump version 17.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP POLICY IF EXISTS users_see_own_data ON public.users;
DROP POLICY IF EXISTS user_preferences_see_own_data ON public.user_preferences;
DROP POLICY IF EXISTS tenant_isolation_users ON public.users;
DROP POLICY IF EXISTS tenant_isolation_user_roles ON public.user_roles;
DROP POLICY IF EXISTS tenant_isolation_proposed_orders ON public.proposed_orders;
DROP POLICY IF EXISTS tenant_isolation_products ON public.products;
DROP POLICY IF EXISTS tenant_isolation_product_types ON public.product_types;
DROP POLICY IF EXISTS tenant_isolation_product_specials ON public.product_specials;
DROP POLICY IF EXISTS tenant_isolation_product_categories ON public.product_categories;
DROP POLICY IF EXISTS tenant_isolation_orders ON public.orders;
DROP POLICY IF EXISTS tenant_isolation_order_items ON public.order_items;
DROP POLICY IF EXISTS tenant_isolation_ip_allowlist ON public.ip_allowlist;
DROP POLICY IF EXISTS tenant_isolation_customers ON public.customers;
DROP POLICY IF EXISTS tenant_isolation_call_logs ON public.call_logs;
DROP POLICY IF EXISTS tenant_isolation_api_keys ON public.api_keys;
DROP POLICY IF EXISTS tenant_isolation_agents ON public.agents;
DROP POLICY IF EXISTS tenant_isolation_access_phones ON public.access_phones;
DROP POLICY IF EXISTS proposed_orders_see_own_data ON public.proposed_orders;
DROP POLICY IF EXISTS preferences_see_own_data ON public.customer_preferences;
DROP POLICY IF EXISTS orders_see_own_data ON public.orders;
DROP POLICY IF EXISTS customers_see_own_data ON public.customers;
DROP POLICY IF EXISTS call_logs_see_own_data ON public.call_logs;
DROP POLICY IF EXISTS "Allow all operations for authenticated users" ON public.messages;
DROP POLICY IF EXISTS "Allow all operations for anonymous users" ON public.messages;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_role_id_fkey;
ALTER TABLE IF EXISTS ONLY public.user_preferences DROP CONSTRAINT IF EXISTS user_preferences_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_product_type_id_fkey;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_category_id_fkey;
ALTER TABLE IF EXISTS ONLY public.product_types DROP CONSTRAINT IF EXISTS product_types_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.product_types DROP CONSTRAINT IF EXISTS product_types_category_id_fkey;
ALTER TABLE IF EXISTS ONLY public.product_specials DROP CONSTRAINT IF EXISTS product_specials_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.product_specials DROP CONSTRAINT IF EXISTS product_specials_product_id_fkey;
ALTER TABLE IF EXISTS ONLY public.product_categories DROP CONSTRAINT IF EXISTS product_categories_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS orders_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS orders_customer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS order_items_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS order_items_product_id_fkey;
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS order_items_order_id_fkey;
ALTER TABLE IF EXISTS ONLY public.ip_allowlist DROP CONSTRAINT IF EXISTS ip_allowlist_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.call_logs DROP CONSTRAINT IF EXISTS fk_call_logs_reorder;
ALTER TABLE IF EXISTS ONLY public.customers DROP CONSTRAINT IF EXISTS customers_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.customers DROP CONSTRAINT IF EXISTS customers_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.customers DROP CONSTRAINT IF EXISTS customers_industry_id_fkey;
ALTER TABLE IF EXISTS ONLY public.customer_preferences DROP CONSTRAINT IF EXISTS customer_preferences_customer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.call_logs DROP CONSTRAINT IF EXISTS call_logs_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.call_logs DROP CONSTRAINT IF EXISTS call_logs_customer_id_fkey;
ALTER TABLE IF EXISTS ONLY public.call_logs DROP CONSTRAINT IF EXISTS call_logs_agent_id_fkey;
ALTER TABLE IF EXISTS ONLY public.api_keys DROP CONSTRAINT IF EXISTS api_keys_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.agents DROP CONSTRAINT IF EXISTS agents_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.agents DROP CONSTRAINT IF EXISTS agents_tenant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.access_phones DROP CONSTRAINT IF EXISTS access_phones_tenant_id_fkey;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.users;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.user_roles;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.user_preferences;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.tenants;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.roles;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.proposed_orders;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.products;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.product_types;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.product_specials;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.product_categories;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.orders;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.order_items;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.ip_allowlist;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.industries;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.customers;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.customer_preferences;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.call_logs;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.api_keys;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.agents;
DROP TRIGGER IF EXISTS tr_set_updated_at ON public.access_phones;
DROP TRIGGER IF EXISTS tr_audit_log_changes ON public.users;
DROP TRIGGER IF EXISTS tr_audit_log_changes ON public.user_roles;
DROP TRIGGER IF EXISTS tr_audit_log_changes ON public.proposed_orders;
DROP TRIGGER IF EXISTS tr_audit_log_changes ON public.products;
DROP TRIGGER IF EXISTS tr_audit_log_changes ON public.orders;
DROP TRIGGER IF EXISTS tr_audit_log_changes ON public.customers;
DROP TRIGGER IF EXISTS tr_audit_log_changes ON public.call_logs;
DROP TRIGGER IF EXISTS tr_audit_log_changes ON public.agents;
DROP INDEX IF EXISTS public.idx_users_tenant;
DROP INDEX IF EXISTS public.idx_user_roles_user;
DROP INDEX IF EXISTS public.idx_user_roles_tenant_role;
DROP INDEX IF EXISTS public.idx_proposed_orders_tenant_customer;
DROP INDEX IF EXISTS public.idx_proposed_orders_items_gin;
DROP INDEX IF EXISTS public.idx_proposed_orders_call_id;
DROP INDEX IF EXISTS public.idx_products_tenant_type;
DROP INDEX IF EXISTS public.idx_products_tenant_category;
DROP INDEX IF EXISTS public.idx_orders_tenant_status;
DROP INDEX IF EXISTS public.idx_orders_customer;
DROP INDEX IF EXISTS public.idx_order_items_product;
DROP INDEX IF EXISTS public.idx_order_items_order;
DROP INDEX IF EXISTS public.idx_customers_user_id;
DROP INDEX IF EXISTS public.idx_customers_tenant_name;
DROP INDEX IF EXISTS public.idx_customers_tenant_email;
DROP INDEX IF EXISTS public.idx_call_logs_tenant_status;
DROP INDEX IF EXISTS public.idx_call_logs_customer;
DROP INDEX IF EXISTS public.idx_call_logs_agent;
DROP INDEX IF EXISTS public.idx_active_products_by_tenant;
DROP INDEX IF EXISTS public.idx_active_customers_by_tenant;
DROP INDEX IF EXISTS public.idx_active_agents_by_tenant;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_username_key;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_key;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_user_id_role_id_tenant_id_key;
ALTER TABLE IF EXISTS ONLY public.user_roles DROP CONSTRAINT IF EXISTS user_roles_pkey;
ALTER TABLE IF EXISTS ONLY public.user_preferences DROP CONSTRAINT IF EXISTS user_preferences_pkey;
ALTER TABLE IF EXISTS ONLY public.tenants DROP CONSTRAINT IF EXISTS tenants_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_name_key;
ALTER TABLE IF EXISTS ONLY public.proposed_orders_data DROP CONSTRAINT IF EXISTS proposed_orders_data_pkey;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_pkey;
ALTER TABLE IF EXISTS ONLY public.product_types DROP CONSTRAINT IF EXISTS product_types_pkey;
ALTER TABLE IF EXISTS ONLY public.product_specials DROP CONSTRAINT IF EXISTS product_specials_pkey;
ALTER TABLE IF EXISTS ONLY public.product_categories DROP CONSTRAINT IF EXISTS product_categories_pkey;
ALTER TABLE IF EXISTS ONLY public.proposed_orders DROP CONSTRAINT IF EXISTS pk_proposed_orders;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS orders_pkey;
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS order_items_pkey;
ALTER TABLE IF EXISTS ONLY public.messages DROP CONSTRAINT IF EXISTS messages_pkey;
ALTER TABLE IF EXISTS ONLY public.ip_allowlist DROP CONSTRAINT IF EXISTS ip_allowlist_pkey;
ALTER TABLE IF EXISTS ONLY public.industries DROP CONSTRAINT IF EXISTS industries_pkey;
ALTER TABLE IF EXISTS ONLY public.customers DROP CONSTRAINT IF EXISTS customers_pkey;
ALTER TABLE IF EXISTS ONLY public.customer_preferences DROP CONSTRAINT IF EXISTS customer_preferences_pkey;
ALTER TABLE IF EXISTS ONLY public.call_logs DROP CONSTRAINT IF EXISTS call_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.audit_logs DROP CONSTRAINT IF EXISTS audit_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.api_keys DROP CONSTRAINT IF EXISTS api_keys_pkey;
ALTER TABLE IF EXISTS ONLY public.agents DROP CONSTRAINT IF EXISTS agents_pkey;
ALTER TABLE IF EXISTS ONLY public.access_phones DROP CONSTRAINT IF EXISTS access_phones_pkey;
ALTER TABLE IF EXISTS public.messages ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_roles;
DROP TABLE IF EXISTS public.user_preferences;
DROP TABLE IF EXISTS public.tenants;
DROP TABLE IF EXISTS public.roles;
DROP TABLE IF EXISTS public.proposed_orders_data;
DROP TABLE IF EXISTS public.proposed_orders;
DROP TABLE IF EXISTS public.product_types;
DROP VIEW IF EXISTS public.product_specials_view;
DROP TABLE IF EXISTS public.products;
DROP TABLE IF EXISTS public.product_specials;
DROP TABLE IF EXISTS public.product_categories;
DROP TABLE IF EXISTS public.orders;
DROP TABLE IF EXISTS public.order_items;
DROP SEQUENCE IF EXISTS public.messages_id_seq;
DROP TABLE IF EXISTS public.messages;
DROP TABLE IF EXISTS public.ip_allowlist;
DROP TABLE IF EXISTS public.industries;
DROP TABLE IF EXISTS public.customers;
DROP TABLE IF EXISTS public.customer_preferences;
DROP TABLE IF EXISTS public.call_logs;
DROP TABLE IF EXISTS public.audit_logs;
DROP TABLE IF EXISTS public.api_keys;
DROP TABLE IF EXISTS public.agents;
DROP TABLE IF EXISTS public.access_phones;
DROP FUNCTION IF EXISTS public.update_proposed_order(call_id_input uuid, order_data jsonb);
DROP FUNCTION IF EXISTS public.set_user_context(user_id uuid);
DROP FUNCTION IF EXISTS public.set_updated_at();
DROP FUNCTION IF EXISTS public.set_tenant_context(tenant_id uuid);
DROP FUNCTION IF EXISTS public.reset_config(setting_name text);
DROP FUNCTION IF EXISTS public.insert_proposed_order(order_data jsonb);
DROP FUNCTION IF EXISTS public.has_role(user_id uuid, role_name text, tenant_id uuid);
DROP FUNCTION IF EXISTS public.get_proposed_order(call_id_input uuid);
DROP FUNCTION IF EXISTS public.get_product_specials_by_tenant(tenant_id_input uuid);
DROP FUNCTION IF EXISTS public.get_product_details_by_ids(product_ids_input uuid[]);
DROP FUNCTION IF EXISTS public.get_last_order(customer_id_input uuid);
DROP FUNCTION IF EXISTS public.get_details_for_products_in_customer_pref(customer_id_input uuid);
DROP FUNCTION IF EXISTS public.get_customer_favorites(customer_id uuid);
DROP FUNCTION IF EXISTS public.get_customer_favorite_product_ids(customer_id_input uuid);
DROP FUNCTION IF EXISTS public.get_customer_by_id(customer_id_input uuid);
DROP FUNCTION IF EXISTS public.get_current_product_specials(tenant_id_input uuid);
DROP FUNCTION IF EXISTS public.commit_proposed_order(call_id_input uuid);
DROP FUNCTION IF EXISTS public.audit_log_changes();
DROP TYPE IF EXISTS public.order_status;
DROP TYPE IF EXISTS public.interaction_status;
DROP TYPE IF EXISTS public.interaction_purpose;
DROP TYPE IF EXISTS public.interaction_outcome;
DROP TYPE IF EXISTS public.contact_method;
DROP TYPE IF EXISTS public.call_status;
DROP TYPE IF EXISTS public.call_purpose;
DROP TYPE IF EXISTS public.call_outcome;
DROP SCHEMA IF EXISTS public;
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'Standard public schema containing application tables, optimized definitions.';


--
-- Name: call_outcome; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.call_outcome AS ENUM (
    'success',
    'failed',
    'follow_up',
    'rescheduled',
    'no_answer',
    'busy',
    'callback_requested',
    'handoff',
    'timed_out'
);


--
-- Name: call_purpose; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.call_purpose AS ENUM (
    'sales',
    'support',
    'feedback',
    'other',
    'complaint',
    'survey',
    'appointment',
    'billing'
);


--
-- Name: call_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.call_status AS ENUM (
    'scheduled',
    'completed',
    'canceled',
    'in_progress',
    'missed',
    'rescheduled',
    'priority'
);


--
-- Name: contact_method; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.contact_method AS ENUM (
    'email',
    'phone',
    'sms',
    'mail',
    'chat',
    'in_person',
    'social_media',
    'none'
);


--
-- Name: interaction_outcome; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.interaction_outcome AS ENUM (
    'successful',
    'unsuccessful',
    'pending',
    'scheduled',
    'cancelled',
    'follow_up',
    'no_answer',
    'busy',
    'callback_requested',
    'handoff',
    'timed_out',
    'ordered'
);


--
-- Name: interaction_purpose; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.interaction_purpose AS ENUM (
    'sales',
    'support',
    'inquiry',
    'complaint',
    'feedback',
    'survey',
    'appointment',
    'billing',
    'other'
);


--
-- Name: interaction_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.interaction_status AS ENUM (
    'scheduled',
    'completed',
    'canceled',
    'missed',
    'rescheduled',
    'in_progress',
    'priority'
);


--
-- Name: order_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.order_status AS ENUM (
    'pending',
    'processing',
    'shipped',
    'delivered',
    'canceled',
    'returned',
    'refunded',
    'user_confirmed',
    'accepted'
);


--
-- Name: audit_log_changes(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.audit_log_changes() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    IF TG_OP = 'INSERT' THEN

        INSERT INTO public.audit_logs (table_name, action, new_data, changed_by, changed_at)

        VALUES (TG_TABLE_NAME, TG_OP, row_to_json(NEW), current_setting('app.current_user_id', true)::uuid, now());

        RETURN NEW;

    ELSIF TG_OP = 'UPDATE' THEN

        INSERT INTO public.audit_logs (table_name, action, old_data, new_data, changed_by, changed_at)

        VALUES (TG_TABLE_NAME, TG_OP, row_to_json(OLD), row_to_json(NEW), current_setting('app.current_user_id', true)::uuid, now());

        RETURN NEW;

    ELSIF TG_OP = 'DELETE' THEN

        INSERT INTO public.audit_logs (table_name, action, old_data, changed_by, changed_at)

        VALUES (TG_TABLE_NAME, TG_OP, row_to_json(OLD), current_setting('app.current_user_id', true)::uuid, now());

        RETURN OLD;

    END IF;

    RETURN NULL;

END;

$$;


--
-- Name: FUNCTION audit_log_changes(); Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON FUNCTION public.audit_log_changes() IS 'Records data changes to the audit_logs table';


--
-- Name: commit_proposed_order(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.commit_proposed_order(call_id_input uuid) RETURNS void
    LANGUAGE plpgsql
    AS $$

declare

  proposed jsonb;

  new_order_id uuid := gen_random_uuid();

  item jsonb;

begin

  -- 1. Fetch the proposed order

  select to_jsonb(p) into proposed

  from proposed_orders p

  where p.call_id = call_id_input;



  if proposed is null then

    raise exception 'No proposed order found for call_id %', call_id_input;

  end if;



  -- 2. Insert into orders

  insert into orders (

    id,

    tenant_id,

    customer_id,

    total_amount,

    status,

    created_at

  )

  values (

    new_order_id,

    (proposed->>'tenant_id')::uuid,

    (proposed->>'customer_id')::uuid,

    (proposed->>'total')::numeric,

    'confirmed',

    current_timestamp

  );



  -- 3. Insert order_items

  for item in

    select * from jsonb_array_elements(proposed->'order_items')

  loop

    insert into order_items (

      order_id,

      product_id,

      quantity,

      price,

      tenant_id

    )

    values (

      new_order_id,

      (item->>'productId')::uuid,

      (item->>'quantity')::int,

      (item->>'price')::numeric,

      (proposed->>'tenant_id')::uuid

    );

  end loop;



  -- Optional: delete the proposed order

  delete from proposed_orders where call_id = call_id_input;

end;

$$;


--
-- Name: get_current_product_specials(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_current_product_specials(tenant_id_input uuid DEFAULT NULL::uuid) RETURNS jsonb
    LANGUAGE sql STABLE
    AS $$
  SELECT jsonb_agg(
    jsonb_build_object(
      'id', ps.id,
      'tenantId', ps.tenant_id,
      'productId', ps.product_id,
      'name', ps.name,
      'discount', ps.discount,
      'startDate', ps.start_date,
      'endDate', ps.end_date,
      'isActive', ps.is_active,
      'createdAt', ps.created_at,
      'updatedAt', ps.updated_at
    )
  )
  FROM
    public.product_specials ps
  WHERE
    ps.is_active = true AND
    (ps.start_date IS NULL OR ps.start_date <= CURRENT_TIMESTAMP) AND
    (ps.end_date IS NULL OR ps.end_date >= CURRENT_TIMESTAMP) AND
    (tenant_id_input IS NULL OR ps.tenant_id = tenant_id_input);
$$;


--
-- Name: get_customer_by_id(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_customer_by_id(customer_id_input uuid) RETURNS jsonb
    LANGUAGE plpgsql
    AS $$

DECLARE

    customer_record public.customers;

BEGIN

    SELECT *

    INTO customer_record

    FROM public.customers

    WHERE id = customer_id_input;



    IF customer_record IS NULL THEN

        RETURN NULL;

    END IF;



    RETURN jsonb_build_object(

        'id', customer_record.id,

        'tenantId', customer_record.tenant_id, -- Assuming tenant_id exists

        'firstName', customer_record.first_name,

        'lastName', customer_record.last_name,

        'email', customer_record.email,

        'phone', customer_record.phone,

        'company', customer_record.company,

        'addressLine1', customer_record.address, -- Use address column

        'city', customer_record.city,

        'state', customer_record.state,

        'postalCode', customer_record.postal_code,

        'country', customer_record.country,

        'isActive', customer_record.is_active, -- Assuming is_active exists

        'createdAt', customer_record.created_at,

        'updatedAt', customer_record.updated_at

        -- Add any other relevant customer fields here, converting to camelCase

    );

END;

$$;


--
-- Name: get_customer_favorite_product_ids(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_customer_favorite_product_ids(customer_id_input uuid) RETURNS TABLE(product_id uuid)
    LANGUAGE sql STABLE
    AS $$

  SELECT DISTINCT jsonb_array_elements_text(cp.favorites -> 'order_items')::uuid

  FROM customer_preferences cp

  WHERE cp.customer_id = customer_id_input

    AND jsonb_typeof(cp.favorites -> 'order_items') = 'array';

$$;


--
-- Name: get_customer_favorites(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_customer_favorites(customer_id uuid) RETURNS TABLE(product_id uuid, product_name text, product_description text, price numeric, size text, tenant_id uuid, created_at timestamp with time zone, updated_at timestamp with time zone)
    LANGUAGE sql STABLE
    AS $$

  select

    p.id as product_id,

    p.name as product_name,

    p.description as product_description,

    p.price,

    p.size,

    p.tenant_id,

    p.created_at,

    p.updated_at

  from

    public.customer_preferences cp

  join

    lateral jsonb_array_elements_text(cp.favorites->'order_items') as order_item_id on true

  join

    public.products p on p.id = order_item_id::uuid

  where

    cp.customer_id = customer_id

    and cp.favorites is not null

    and cp.favorites <> '{}'::jsonb

    and p.is_active = true;

$$;


--
-- Name: get_details_for_products_in_customer_pref(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_details_for_products_in_customer_pref(customer_id_input uuid) RETURNS jsonb
    LANGUAGE sql STABLE
    AS $$
  SELECT jsonb_agg(
    jsonb_build_object(
      'productId', p.id,
      'productName', p.name,
      'productDescription', p.description,
      'price', p.price,
      'size', p.size,
      'tenantId', p.tenant_id,
      'createdAt', p.created_at,
      'updatedAt', p.updated_at
      -- Add other product fields here if needed, converting to camelCase
    )
  )
  FROM
    public.customer_preferences cp
  JOIN
    LATERAL jsonb_array_elements_text(cp.favorites->'orderItems') AS order_item_id ON TRUE -- Assuming 'orderItems' is the camelCase key in JSON
  JOIN
    public.products p ON p.id = order_item_id::uuid
  WHERE
    cp.customer_id = customer_id_input AND
    cp.favorites IS NOT NULL AND
    cp.favorites <> '{}'::jsonb AND
    jsonb_typeof(cp.favorites->'orderItems') = 'array' AND -- Ensure orderItems is an array
    jsonb_array_length(cp.favorites->'orderItems') > 0 AND -- Ensure array is not empty
    p.is_active = true;
$$;


--
-- Name: get_last_order(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_last_order(customer_id_input uuid) RETURNS jsonb
    LANGUAGE sql STABLE
    AS $$
  SELECT jsonb_build_object(
    'id', o.id,
    'tenantId', o.tenant_id,
    'customerId', o.customer_id,
    'proposedDate', CURRENT_TIMESTAMP, -- This seems to be for a new proposed order based on last, so current time
    'status', 'draft', -- Defaulting to draft for a new proposed order
    'total', o.total_amount, -- Using total_amount from the last order
    'orderItems', jsonb_agg(jsonb_build_object(
      'price', oi.price,
      'quantity', oi.quantity,
      'productId', p.id,
      'productName', p.name,
      'productDescription', p.description,
      'productSize', p.size
      -- Add other item fields here if needed, converting to camelCase
    )),
    'lastUpdatedBy', NULL, -- For a new proposed order, these would be null or set by app
    'lastDeviceId', NULL,
    'createdAt', CURRENT_TIMESTAMP, -- For a new proposed order
    'updatedAt', NULL
  ) AS order_details
  FROM
    public.orders o
  JOIN
    public.order_items oi ON oi.order_id = o.id
  JOIN
    public.products p ON p.id = oi.product_id
  WHERE
    o.customer_id = customer_id_input
  GROUP BY
    o.id, o.tenant_id, o.customer_id, o.total_amount -- Group by necessary fields from 'orders' table
  ORDER BY
    o.created_at DESC
  LIMIT 1;
$$;


--
-- Name: get_product_details_by_ids(uuid[]); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_product_details_by_ids(product_ids_input uuid[]) RETURNS TABLE(id uuid, name text, description text, price numeric, size character varying)
    LANGUAGE sql STABLE
    AS $$

  SELECT p.id, p.name, p.description, p.price, p.size

  FROM products p

  WHERE p.id = ANY(product_ids_input);

$$;


--
-- Name: get_product_specials_by_tenant(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_product_specials_by_tenant(tenant_id_input uuid) RETURNS jsonb
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN (
        SELECT jsonb_agg(
            jsonb_build_object(
                'specialId', ps.id,
                'productId', p.id,
                'productName', p.name,
                'productDescription', p.description,
                'productPrice', p.price,
                'productSize', p.size,
                'productCreatedAt', p.created_at,
                'productUpdatedAt', p.updated_at,
                'discount', ps.discount,
                'startDate', ps.start_date,
                'endDate', ps.end_date
                -- Add other relevant fields here, converting to camelCase
            )
        )
        FROM
            public.product_specials ps
        JOIN
            public.products p ON ps.product_id = p.id
        WHERE
            ps.tenant_id = tenant_id_input
    );
END;
$$;


--
-- Name: get_proposed_order(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.get_proposed_order(call_id_input uuid) RETURNS jsonb
    LANGUAGE sql STABLE
    AS $$

  select jsonb_build_object(

    'id', p.id,

    'tenantId', p.tenant_id,

    'customerId', p.customer_id,

    'callId', p.call_id,             -- This is the column name in the table

    'proposedDate', p.proposed_date,

    'status', p.status,

    'total', p.total,

    'orderItems', p.order_items,

    'lastUpdatedBy', p.last_updated_by,

    'lastDeviceId', p.last_device_id,

    'createdAt', p.created_at,

    'updatedAt', p.updated_at

  )

  from proposed_orders p

  where p.call_id = call_id_input          -- Using the reverted parameter name here

  limit 1;

$$;


--
-- Name: has_role(uuid, text, uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.has_role(user_id uuid, role_name text, tenant_id uuid) RETURNS boolean
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    RETURN EXISTS (

        SELECT 1 

        FROM public.user_roles ur

        JOIN public.roles r ON ur.role_id = r.id

        WHERE ur.user_id = has_role.user_id

        AND r.name = has_role.role_name

        AND ur.tenant_id = has_role.tenant_id

        AND ur.is_active = true

        AND r.is_active = true

    );

END;

$$;


--
-- Name: FUNCTION has_role(user_id uuid, role_name text, tenant_id uuid); Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON FUNCTION public.has_role(user_id uuid, role_name text, tenant_id uuid) IS 'Checks if a user has a specific role within a tenant';


--
-- Name: insert_proposed_order(jsonb); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.insert_proposed_order(order_data jsonb) RETURNS void
    LANGUAGE sql
    AS $$
  insert into proposed_orders (
    id,
    tenant_id,
    customer_id,
    call_id,
    proposed_date,
    status,
    total,
    order_items,
    last_updated_by,
    last_device_id,
    created_at,
    updated_at
  )
  values (
    coalesce((order_data->>'id')::uuid, gen_random_uuid()),
    (order_data->>'tenant_id')::uuid,
    (order_data->>'customer_id')::uuid,
    (order_data->>'call_id')::uuid,
    (order_data->>'proposed_date')::timestamptz,
    (order_data->>'status'),
    (order_data->>'total')::numeric,
    order_data->'order_items',
    null,
    null,
    (order_data->>'created_at')::timestamptz,
    null
  );
$$;


--
-- Name: reset_config(text); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.reset_config(setting_name text) RETURNS void
    LANGUAGE plpgsql
    AS $$

BEGIN

    EXECUTE format('RESET %I', setting_name);

END;

$$;


--
-- Name: set_tenant_context(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_tenant_context(tenant_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    PERFORM set_config('app.current_tenant_id', tenant_id::text, false);

END;

$$;


--
-- Name: FUNCTION set_tenant_context(tenant_id uuid); Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON FUNCTION public.set_tenant_context(tenant_id uuid) IS 'Sets the current tenant context for row-level security policies';


--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    NEW.updated_at = now();

    RETURN NEW;

END;

$$;


--
-- Name: set_user_context(uuid); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.set_user_context(user_id uuid) RETURNS void
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

    PERFORM set_config('app.current_user_id', user_id::text, false);

END;

$$;


--
-- Name: FUNCTION set_user_context(user_id uuid); Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON FUNCTION public.set_user_context(user_id uuid) IS 'Sets the current user context for audit logging';


--
-- Name: update_proposed_order(uuid, jsonb); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.update_proposed_order(call_id_input uuid, order_data jsonb) RETURNS void
    LANGUAGE sql
    AS $$
  update proposed_orders
  set
    tenant_id = coalesce((order_data->>'tenant_id')::uuid, tenant_id),
    customer_id = coalesce((order_data->>'customer_id')::uuid, customer_id),
    proposed_date = coalesce((order_data->>'proposed_date')::timestamptz, proposed_date),
    status = coalesce(order_data->>'status', status),
    total = coalesce((order_data->>'total')::numeric, total),
    order_items = coalesce(order_data->'order_items', order_items),
    updated_at = current_timestamp
  where call_id = call_id_input;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_phones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.access_phones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    number text NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_access_phones_format CHECK ((number ~ '^\+?[0-9\s\-\(\)]+$'::text))
);


--
-- Name: agents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.agents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    user_id uuid,
    name text NOT NULL,
    email text,
    phone_number text,
    department text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_agents_phone_format CHECK (((phone_number IS NULL) OR (phone_number ~ '^\+?[0-9\s\-\(\)]+$'::text)))
);


--
-- Name: TABLE agents; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.agents IS 'Customer service agents who handle calls and orders';


--
-- Name: api_keys; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.api_keys (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    key text NOT NULL,
    name text NOT NULL,
    permissions jsonb DEFAULT '{}'::jsonb,
    expires_at timestamp with time zone,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    table_name text NOT NULL,
    action text NOT NULL,
    old_data jsonb,
    new_data jsonb,
    changed_by uuid,
    changed_at timestamp with time zone DEFAULT now()
);


--
-- Name: TABLE audit_logs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.audit_logs IS 'System-wide audit trail for tracking changes';


--
-- Name: call_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.call_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    customer_id uuid,
    agent_id uuid,
    call_date timestamp with time zone DEFAULT now(),
    duration integer,
    purpose public.interaction_purpose,
    outcome public.interaction_outcome,
    status public.interaction_status,
    notes text,
    follow_up_date timestamp with time zone,
    reorder_id uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: TABLE call_logs; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.call_logs IS 'Records of customer interactions via phone';


--
-- Name: customer_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customer_preferences (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    customer_id uuid NOT NULL,
    personal jsonb DEFAULT '{}'::jsonb,
    business jsonb DEFAULT '{}'::jsonb,
    orders jsonb DEFAULT '{}'::jsonb,
    contact_by_enum public.contact_method DEFAULT 'none'::public.contact_method,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    favorites jsonb DEFAULT '{}'::jsonb,
    CONSTRAINT chk_customer_preferences_business_valid_json CHECK (((business IS NULL) OR (jsonb_typeof(business) = 'object'::text))),
    CONSTRAINT chk_customer_preferences_orders_valid_json CHECK (((orders IS NULL) OR (jsonb_typeof(orders) = 'object'::text))),
    CONSTRAINT chk_customer_preferences_personal_valid_json CHECK (((personal IS NULL) OR (jsonb_typeof(personal) = 'object'::text)))
);


--
-- Name: customers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.customers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    user_id uuid,
    first_name text NOT NULL,
    last_name text NOT NULL,
    email text,
    phone text,
    address text,
    city text,
    state text,
    postal_code text,
    country text,
    industry_id uuid,
    company text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_customers_phone_format CHECK (((phone IS NULL) OR (phone ~ '^\+?[0-9\s\-\(\)]+$'::text)))
);


--
-- Name: TABLE customers; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.customers IS 'Customer information across all tenants';


--
-- Name: COLUMN customers.user_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.customers.user_id IS 'Reference to a user account when customer is also a user of the system';


--
-- Name: industries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.industries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: ip_allowlist; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ip_allowlist (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    ip_address cidr NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    content text NOT NULL,
    user_id text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    order_id uuid NOT NULL,
    product_id uuid,
    quantity integer NOT NULL,
    price numeric(12,2) NOT NULL,
    discount numeric(12,2) DEFAULT 0,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.orders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    customer_id uuid,
    order_date timestamp with time zone DEFAULT now(),
    total_amount numeric(12,2) DEFAULT 0,
    status text NOT NULL,
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: TABLE orders; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.orders IS 'Customer orders placed across the system';


--
-- Name: product_categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    name text NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: product_specials; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_specials (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    product_id uuid NOT NULL,
    name text NOT NULL,
    discount numeric(10,2),
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_product_specials_discount_positive CHECK (((discount IS NULL) OR (discount >= (0)::numeric)))
);


--
-- Name: products; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.products (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    name text NOT NULL,
    description text,
    product_type_id uuid,
    category_id uuid,
    price numeric(12,2),
    sku text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    size character varying
);


--
-- Name: TABLE products; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.products IS 'Products available for ordering';


--
-- Name: product_specials_view; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.product_specials_view AS
 SELECT ps.id AS special_id,
    p.id AS product_id,
    p.name AS product_name,
    p.description AS product_description,
    p.price AS product_price,
    p.size AS product_size,
    p.created_at AS product_created_at,
    p.updated_at AS product_updated_at,
    ps.discount,
    ps.start_date,
    ps.end_date,
    ps.tenant_id
   FROM (public.product_specials ps
     JOIN public.products p ON ((ps.product_id = p.id)));


--
-- Name: product_types; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.product_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    category_id uuid,
    name text NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: proposed_orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.proposed_orders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    customer_id uuid NOT NULL,
    call_id uuid NOT NULL,
    proposed_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    total numeric(12,2) DEFAULT 0 NOT NULL,
    order_items jsonb DEFAULT '[]'::jsonb NOT NULL,
    last_updated_by uuid,
    last_device_id text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone,
    CONSTRAINT chk_proposed_orders_order_items_valid CHECK ((jsonb_typeof(order_items) = 'array'::text)),
    CONSTRAINT chk_proposed_orders_status_valid CHECK ((status = ANY (ARRAY['draft'::text, 'presented'::text, 'accepted'::text, 'rejected'::text, 'confirmed'::text, 'voice-update'::text, 'ui-update'::text]))),
    CONSTRAINT chk_proposed_orders_total_positive CHECK ((total >= (0)::numeric))
);


--
-- Name: TABLE proposed_orders; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.proposed_orders IS 'Temporary storage for draft orders being prepared during customer calls. Acts as a coordination point between different devices.';


--
-- Name: COLUMN proposed_orders.id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.id IS 'Primary identifier for the proposed order (UUID).';


--
-- Name: COLUMN proposed_orders.tenant_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.tenant_id IS 'The tenant this proposed order belongs to.';


--
-- Name: COLUMN proposed_orders.customer_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.customer_id IS 'The customer for whom this order is being prepared.';


--
-- Name: COLUMN proposed_orders.call_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.call_id IS 'The call during which this order is being prepared, primary search key.';


--
-- Name: COLUMN proposed_orders.proposed_date; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.proposed_date IS 'The date this order is being proposed for.';


--
-- Name: COLUMN proposed_orders.status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.status IS 'Current status of the proposed order (draft, presented, accepted, etc.).';


--
-- Name: COLUMN proposed_orders.total; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.total IS 'The calculated total amount for this proposed order.';


--
-- Name: COLUMN proposed_orders.order_items; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.order_items IS 'JSON array of order items, each containing productId, description, price, quantity, size, and base64 thumbnail.';


--
-- Name: COLUMN proposed_orders.last_updated_by; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.last_updated_by IS 'The user who last updated this proposed order.';


--
-- Name: COLUMN proposed_orders.last_device_id; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.last_device_id IS 'Identifier of the device that last updated this order, for conflict resolution.';


--
-- Name: COLUMN proposed_orders.created_at; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.created_at IS 'Timestamp when the proposed order was created.';


--
-- Name: COLUMN proposed_orders.updated_at; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.proposed_orders.updated_at IS 'Timestamp when the proposed order was last updated.';


--
-- Name: proposed_orders_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.proposed_orders_data (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    call_id uuid DEFAULT gen_random_uuid() NOT NULL,
    customer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid DEFAULT gen_random_uuid() NOT NULL,
    data jsonb,
    data_type text,
    customer_phone text,
    sms_number text
);


--
-- Name: TABLE proposed_orders_data; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.proposed_orders_data IS 'Standin for Redis, temporarily holds order, specials and favorites data';


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    description text,
    permissions jsonb DEFAULT '{}'::jsonb,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: tenants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.tenants (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    domain text,
    settings jsonb DEFAULT '{}'::jsonb,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_tenants_domain_format CHECK (((domain IS NULL) OR (domain ~ '^[a-zA-Z0-9][a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}$'::text)))
);


--
-- Name: TABLE tenants; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.tenants IS 'Contains tenant/organization information for multi-tenant setup';


--
-- Name: user_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_preferences (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    personal jsonb DEFAULT '{}'::jsonb,
    business jsonb DEFAULT '{}'::jsonb,
    orders jsonb DEFAULT '{}'::jsonb,
    contact_by_enum public.contact_method DEFAULT 'none'::public.contact_method,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_user_preferences_business_valid_json CHECK (((business IS NULL) OR (jsonb_typeof(business) = 'object'::text))),
    CONSTRAINT chk_user_preferences_orders_valid_json CHECK (((orders IS NULL) OR (jsonb_typeof(orders) = 'object'::text))),
    CONSTRAINT chk_user_preferences_personal_valid_json CHECK (((personal IS NULL) OR (jsonb_typeof(personal) = 'object'::text)))
);


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_roles (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    role_id uuid NOT NULL,
    tenant_id uuid NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: TABLE user_roles; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.user_roles IS 'Role assignments for users across tenants';


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    tenant_id uuid NOT NULL,
    email text NOT NULL,
    username text,
    password_hash text,
    last_login timestamp with time zone,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT chk_users_email_format CHECK ((email ~* '^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text))
);


--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.users IS 'User authentication and identification information across tenants';


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Data for Name: access_phones; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.access_phones (id, tenant_id, number, description, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: agents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.agents (id, tenant_id, user_id, name, email, phone_number, department, is_active, created_at, updated_at) FROM stdin;
a7b9c1d3-e5f7-49a1-b3c5-a7b9c1d3e5f7	f0555d1a-5da7-4d15-b864-a1c6b16458a8	c56a4180-65aa-42ec-a945-5fd21dec0538	Sarah Johnson	sarah.johnson@acmecleaning.com	+1-217-555-0101	Sales	t	2024-08-15 11:00:00+00	2024-08-15 11:00:00+00
b8c0d2e4-f6a8-40b2-c4d6-b8c0d2e4f6a8	f0555d1a-5da7-4d15-b864-a1c6b16458a8	d79613fa-bef9-4e3e-8d1a-7a6d15c46c45	Michael Chen	michael.chen@acmecleaning.com	+1-217-555-0102	Customer Support	t	2024-08-15 11:15:00+00	2024-08-15 11:15:00+00
\.


--
-- Data for Name: api_keys; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.api_keys (id, tenant_id, key, name, permissions, expires_at, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: call_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.call_logs (id, tenant_id, customer_id, agent_id, call_date, duration, purpose, outcome, status, notes, follow_up_date, reorder_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: customer_preferences; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: industries; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ip_allowlist; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ip_allowlist (id, tenant_id, ip_address, description, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: product_categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: product_specials; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: product_types; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: proposed_orders; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: proposed_orders_data; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: tenants; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.tenants (id, name, domain, settings, is_active, created_at, updated_at) FROM stdin;
f0555d1a-5da7-4d15-b864-a1c6b16458a8	Acme Cleaning and Safety Supply Inc.	acmecleaning.com	{"branding": {"logo_url": "https://assets.acmecleaning.com/logo.png", "primary_color": "#0078D4"}, "company_info": {"phone": "+1-217-555-0100", "address": "123 Main Street, Springfield, IL 62701"}}	t	2024-08-15 09:00:00+00	2024-08-15 09:00:00+00
\.


--
-- Data for Name: user_preferences; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.messages_id_seq', 9, true);


--
-- Name: access_phones access_phones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.access_phones
    ADD CONSTRAINT access_phones_pkey PRIMARY KEY (id);


--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id);


--
-- Name: api_keys api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: call_logs call_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.call_logs
    ADD CONSTRAINT call_logs_pkey PRIMARY KEY (id);


--
-- Name: customer_preferences customer_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_preferences
    ADD CONSTRAINT customer_preferences_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: industries industries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.industries
    ADD CONSTRAINT industries_pkey PRIMARY KEY (id);


--
-- Name: ip_allowlist ip_allowlist_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ip_allowlist
    ADD CONSTRAINT ip_allowlist_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: proposed_orders pk_proposed_orders; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.proposed_orders
    ADD CONSTRAINT pk_proposed_orders PRIMARY KEY (id);


--
-- Name: product_categories product_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_categories
    ADD CONSTRAINT product_categories_pkey PRIMARY KEY (id);


--
-- Name: product_specials product_specials_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_specials
    ADD CONSTRAINT product_specials_pkey PRIMARY KEY (id);


--
-- Name: product_types product_types_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_types
    ADD CONSTRAINT product_types_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: proposed_orders_data proposed_orders_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.proposed_orders_data
    ADD CONSTRAINT proposed_orders_data_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: user_preferences user_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_user_id_role_id_tenant_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_role_id_tenant_id_key UNIQUE (user_id, role_id, tenant_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_active_agents_by_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_active_agents_by_tenant ON public.agents USING btree (tenant_id, name) WHERE (is_active = true);


--
-- Name: idx_active_customers_by_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_active_customers_by_tenant ON public.customers USING btree (tenant_id, last_name, first_name) WHERE (is_active = true);


--
-- Name: idx_active_products_by_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_active_products_by_tenant ON public.products USING btree (tenant_id, name) WHERE (is_active = true);


--
-- Name: idx_call_logs_agent; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_call_logs_agent ON public.call_logs USING btree (agent_id);


--
-- Name: idx_call_logs_customer; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_call_logs_customer ON public.call_logs USING btree (customer_id);


--
-- Name: idx_call_logs_tenant_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_call_logs_tenant_status ON public.call_logs USING btree (tenant_id, status);


--
-- Name: idx_customers_tenant_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_customers_tenant_email ON public.customers USING btree (tenant_id, lower(email));


--
-- Name: idx_customers_tenant_name; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_customers_tenant_name ON public.customers USING btree (tenant_id, last_name, first_name);


--
-- Name: idx_customers_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_customers_user_id ON public.customers USING btree (user_id);


--
-- Name: idx_order_items_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_items_order ON public.order_items USING btree (order_id);


--
-- Name: idx_order_items_product; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_items_product ON public.order_items USING btree (product_id);


--
-- Name: idx_orders_customer; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_customer ON public.orders USING btree (customer_id);


--
-- Name: idx_orders_tenant_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_tenant_status ON public.orders USING btree (tenant_id, status);


--
-- Name: idx_products_tenant_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_products_tenant_category ON public.products USING btree (tenant_id, category_id);


--
-- Name: idx_products_tenant_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_products_tenant_type ON public.products USING btree (tenant_id, product_type_id);


--
-- Name: idx_proposed_orders_call_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proposed_orders_call_id ON public.proposed_orders USING btree (call_id);


--
-- Name: idx_proposed_orders_items_gin; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proposed_orders_items_gin ON public.proposed_orders USING gin (order_items);


--
-- Name: idx_proposed_orders_tenant_customer; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_proposed_orders_tenant_customer ON public.proposed_orders USING btree (tenant_id, customer_id);


--
-- Name: idx_user_roles_tenant_role; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_roles_tenant_role ON public.user_roles USING btree (tenant_id, role_id);


--
-- Name: idx_user_roles_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_user_roles_user ON public.user_roles USING btree (user_id);


--
-- Name: idx_users_tenant; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_tenant ON public.users USING btree (tenant_id);


--
-- Name: agents tr_audit_log_changes; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_audit_log_changes AFTER INSERT OR DELETE OR UPDATE ON public.agents FOR EACH ROW EXECUTE FUNCTION public.audit_log_changes();


--
-- Name: call_logs tr_audit_log_changes; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_audit_log_changes AFTER INSERT OR DELETE OR UPDATE ON public.call_logs FOR EACH ROW EXECUTE FUNCTION public.audit_log_changes();


--
-- Name: customers tr_audit_log_changes; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_audit_log_changes AFTER INSERT OR DELETE OR UPDATE ON public.customers FOR EACH ROW EXECUTE FUNCTION public.audit_log_changes();


--
-- Name: orders tr_audit_log_changes; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_audit_log_changes AFTER INSERT OR DELETE OR UPDATE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.audit_log_changes();


--
-- Name: products tr_audit_log_changes; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_audit_log_changes AFTER INSERT OR DELETE OR UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.audit_log_changes();


--
-- Name: proposed_orders tr_audit_log_changes; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_audit_log_changes AFTER INSERT OR DELETE OR UPDATE ON public.proposed_orders FOR EACH ROW EXECUTE FUNCTION public.audit_log_changes();


--
-- Name: user_roles tr_audit_log_changes; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_audit_log_changes AFTER INSERT OR DELETE OR UPDATE ON public.user_roles FOR EACH ROW EXECUTE FUNCTION public.audit_log_changes();


--
-- Name: users tr_audit_log_changes; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_audit_log_changes AFTER INSERT OR DELETE OR UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.audit_log_changes();


--
-- Name: access_phones tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.access_phones FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: agents tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.agents FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: api_keys tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.api_keys FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: call_logs tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.call_logs FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: customer_preferences tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.customer_preferences FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: customers tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.customers FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: industries tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.industries FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: ip_allowlist tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.ip_allowlist FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: order_items tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.order_items FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: orders tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.orders FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: product_categories tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.product_categories FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: product_specials tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.product_specials FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: product_types tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.product_types FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: products tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: proposed_orders tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.proposed_orders FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: roles tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.roles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: tenants tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.tenants FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: user_preferences tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.user_preferences FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: user_roles tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.user_roles FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: users tr_set_updated_at; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_set_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: access_phones access_phones_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.access_phones
    ADD CONSTRAINT access_phones_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: agents agents_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: agents agents_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: api_keys api_keys_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.api_keys
    ADD CONSTRAINT api_keys_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: call_logs call_logs_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.call_logs
    ADD CONSTRAINT call_logs_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agents(id);


--
-- Name: call_logs call_logs_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.call_logs
    ADD CONSTRAINT call_logs_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: call_logs call_logs_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.call_logs
    ADD CONSTRAINT call_logs_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: customer_preferences customer_preferences_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customer_preferences
    ADD CONSTRAINT customer_preferences_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: customers customers_industry_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_industry_id_fkey FOREIGN KEY (industry_id) REFERENCES public.industries(id);


--
-- Name: customers customers_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: customers customers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: call_logs fk_call_logs_reorder; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.call_logs
    ADD CONSTRAINT fk_call_logs_reorder FOREIGN KEY (reorder_id) REFERENCES public.orders(id) ON DELETE SET NULL;


--
-- Name: ip_allowlist ip_allowlist_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ip_allowlist
    ADD CONSTRAINT ip_allowlist_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: order_items order_items_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE SET NULL;


--
-- Name: orders orders_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: product_categories product_categories_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_categories
    ADD CONSTRAINT product_categories_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: product_specials product_specials_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_specials
    ADD CONSTRAINT product_specials_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: product_specials product_specials_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_specials
    ADD CONSTRAINT product_specials_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: product_types product_types_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_types
    ADD CONSTRAINT product_types_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.product_categories(id);


--
-- Name: product_types product_types_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.product_types
    ADD CONSTRAINT product_types_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.product_categories(id);


--
-- Name: products products_product_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_product_type_id_fkey FOREIGN KEY (product_type_id) REFERENCES public.product_types(id);


--
-- Name: products products_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: user_preferences user_preferences_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_preferences
    ADD CONSTRAINT user_preferences_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: user_roles user_roles_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: user_roles user_roles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: messages Allow all operations for anonymous users; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Allow all operations for anonymous users" ON public.messages TO anon USING (true);


--
-- Name: messages Allow all operations for authenticated users; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY "Allow all operations for authenticated users" ON public.messages TO authenticated USING (true);


--
-- Name: access_phones; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.access_phones ENABLE ROW LEVEL SECURITY;

--
-- Name: agents; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.agents ENABLE ROW LEVEL SECURITY;

--
-- Name: api_keys; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.api_keys ENABLE ROW LEVEL SECURITY;

--
-- Name: call_logs; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.call_logs ENABLE ROW LEVEL SECURITY;

--
-- Name: call_logs call_logs_see_own_data; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY call_logs_see_own_data ON public.call_logs FOR SELECT USING ((customer_id IN ( SELECT customers.id
   FROM public.customers
  WHERE (customers.user_id = (current_setting('app.current_user_id'::text, true))::uuid))));


--
-- Name: customers customers_see_own_data; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY customers_see_own_data ON public.customers FOR SELECT USING ((user_id = (current_setting('app.current_user_id'::text, true))::uuid));


--
-- Name: industries; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.industries ENABLE ROW LEVEL SECURITY;

--
-- Name: ip_allowlist; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.ip_allowlist ENABLE ROW LEVEL SECURITY;

--
-- Name: messages; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.messages ENABLE ROW LEVEL SECURITY;

--
-- Name: orders orders_see_own_data; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY orders_see_own_data ON public.orders FOR SELECT USING ((customer_id IN ( SELECT customers.id
   FROM public.customers
  WHERE (customers.user_id = (current_setting('app.current_user_id'::text, true))::uuid))));


--
-- Name: customer_preferences preferences_see_own_data; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY preferences_see_own_data ON public.customer_preferences FOR SELECT USING ((customer_id IN ( SELECT customers.id
   FROM public.customers
  WHERE (customers.user_id = (current_setting('app.current_user_id'::text, true))::uuid))));


--
-- Name: proposed_orders proposed_orders_see_own_data; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY proposed_orders_see_own_data ON public.proposed_orders FOR SELECT USING ((customer_id IN ( SELECT customers.id
   FROM public.customers
  WHERE (customers.user_id = (current_setting('app.current_user_id'::text, true))::uuid))));


--
-- Name: roles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.roles ENABLE ROW LEVEL SECURITY;

--
-- Name: access_phones tenant_isolation_access_phones; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_access_phones ON public.access_phones USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: agents tenant_isolation_agents; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_agents ON public.agents USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: api_keys tenant_isolation_api_keys; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_api_keys ON public.api_keys USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: call_logs tenant_isolation_call_logs; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_call_logs ON public.call_logs USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: customers tenant_isolation_customers; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_customers ON public.customers USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: ip_allowlist tenant_isolation_ip_allowlist; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_ip_allowlist ON public.ip_allowlist USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: order_items tenant_isolation_order_items; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_order_items ON public.order_items USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: orders tenant_isolation_orders; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_orders ON public.orders USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: product_categories tenant_isolation_product_categories; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_product_categories ON public.product_categories USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: product_specials tenant_isolation_product_specials; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_product_specials ON public.product_specials USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: product_types tenant_isolation_product_types; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_product_types ON public.product_types USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: products tenant_isolation_products; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_products ON public.products USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: proposed_orders tenant_isolation_proposed_orders; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_proposed_orders ON public.proposed_orders USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: user_roles tenant_isolation_user_roles; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_user_roles ON public.user_roles USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: users tenant_isolation_users; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY tenant_isolation_users ON public.users USING ((tenant_id = (current_setting('app.current_tenant_id'::text, true))::uuid));


--
-- Name: user_preferences; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.user_preferences ENABLE ROW LEVEL SECURITY;

--
-- Name: user_preferences user_preferences_see_own_data; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY user_preferences_see_own_data ON public.user_preferences FOR SELECT USING ((user_id = (current_setting('app.current_user_id'::text, true))::uuid));


--
-- Name: user_roles; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.user_roles ENABLE ROW LEVEL SECURITY;

--
-- Name: users; Type: ROW SECURITY; Schema: public; Owner: -
--

ALTER TABLE public.users ENABLE ROW LEVEL SECURITY;

--
-- Name: users users_see_own_data; Type: POLICY; Schema: public; Owner: -
--

CREATE POLICY users_see_own_data ON public.users FOR SELECT USING ((id = (current_setting('app.current_user_id'::text, true))::uuid));


--
-- PostgreSQL database dump complete
--

